* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    height: 80px;
    width: 100%;
    line-height: 80px;
    padding: 0px 100px;
    position: fixed;
    background-image: #008e00;
}

.logo  {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}